<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Dashboard{% endblock %}</title>
<link rel="stylesheet" href="/css/output.css">




</head>
<body class="bg-gray-950 text-gray-100">
  <div class="flex min-h-screen">
    {% include 'sidebar.twig' %}
    <div class="flex-1 flex flex-col">
      {% include 'navbar.twig' %}
      <main class="p-6 flex-1 overflow-y-auto">
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>

  <script src="/assets/js/main.js"></script>
</body>
</html>
